# !STARTERCONF Duplicate this to .env.local
OPENAI_API_KEY=
MODEL_TEMPERATURE=0.7
NUM_MAX_TOKENS=1000

# DEVELOPMENT TOOLS
# Ideally, don't add them to production deployment envs
# !STARTERCONF Change to true if you want to log data
NEXT_PUBLIC_SHOW_LOGGER="false"
